<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    bootstrap css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<!--    basic css-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">-->
    <title>board</title>
</head>
<body>
    <!-- 네비게이션바 -->
    <nav th:replace="navbar :: navbarFragment"></nav>
<!--기본템플릿 안에 삽입될 내용-->
    <th:block layout:fragment="content"></th:block>
    <!-- Bootstrap JS -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!--자바 스크립트 시작-->
    <th:block layout:fragment="script"></th:block>
    <!--자바 스크립트 끝-->
</body>
</html>
